stages:
  - deploy

deploy_user_service:
  stage: deploy
  tags:
    - auth-runner
  only:
    - feature/dev-server-ready
  script:
    - echo "[USER] Pulling latest changes from develop branch"
    - cd ~/backend/user-service
    - git fetch origin
    - git checkout develop
    - git pull origin develop
    - docker compose -f ~/backend/docker-compose.yml down
    - echo "[USER] Build and restart user-service"
    - docker compose -f ~/backend/docker-compose.yml build auth-service
    - docker compose -f ~/backend/docker-compose.yml up

