stages:
  - deploy

variables:
  PROJECT_DIR: "/home/gitlab-runner/backend"
  SERVICE_NAME: "user-service"
  BRANCH_NAME: "ci_fix"

deploy_service:
  stage: deploy
  tags:
    - user-runner
  script:
    - cd ${PROJECT_DIR}/${SERVICE_NAME}
    - git checkout ${BRANCH_NAME}
    - git pull origin ${BRANCH_NAME}

    - cd ${PROJECT_DIR}
    - docker-compose build ${SERVICE_NAME}
    - docker-compose up -d --no-deps ${SERVICE_NAME}

    - docker image prune -f

  only:
    - ci_fix