#stages:
#  - deploy

#variables:
#  BASE_DIR: "/home/gitlab-runner/backend"
#  DOCKER_COMPOSE_FILE: "${BASE_DIR}/docker-compose.yml"
#  ENV_FILE: "${BASE_DIR}/.env"
#
#.deploy_template: &deploy_template
#  stage: deploy
#  only:
#    - develop
#  tags:
#    - user-runner
#  before_script:
#    - mkdir -p ${BASE_DIR}
#    - cd ${BASE_DIR}
#    - chmod 755 /home/gitlab-runner/backend
#    - chown -R gitlab-runner:gitlab-runner /home/gitlab-runner/backend
#    - docker-compose -f ${DOCKER_COMPOSE_FILE} up -d db
#  script:
#    - if [ ! -d "${SERVICE_DIR}" ]; then
#        echo "Cloning new repository";
#        git clone ${GIT_URL} ${SERVICE_DIR} --branch develop;
#      else
#        echo "Updating existing repository";
#        cd ${SERVICE_DIR};
#        git checkout develop;
#        git reset --hard HEAD;
#        git pull origin develop;
#      fi
#    - docker-compose -f ${DOCKER_COMPOSE_FILE} --env-file ${ENV_FILE} up -d --build ${SERVICE_NAME}
#
## User Service
#deploy_user_service:
#  <<: *deploy_template
#  variables:
#    SERVICE_NAME: "user-service"
#    SERVICE_DIR: "${BASE_DIR}/user-service"
#    GIT_URL: "https://gitlab.mai.ru/cicada-chess/backend/user-service.git"
#