stages:
  - deploy

variables:
  SSH_CMD: 'ssh -o StrictHostKeyChecking=no $DEV_USER@$DEV_HOST'

user_service_deploy:
  stage: deploy
  only:
    - develop
  before_script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
  script:
    - $SSH_CMD "cd /root/backend/user-service && git pull origin develop"
    - $SSH_CMD "cd /root/backend && docker compose build user-service && docker compose up -d user-service"
    